<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="person" item-left></ion-icon> /Salut</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <h2>Benvingut al teu seguiment post-operatori de Cirurgia Major Ambulatòria de Varius</h2>
 <h6>És important emplenar els següents formularis per a fer un seguiment de l'operació del dia 11/01/2021</h6>
<ion-list>
    <ion-item>
      <ion-icon name="calendar" color="primary" item-left></ion-icon>
      <h3><b>2 de gener</b></h3>
      <h4>Completat</h4>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="primary" item-left></ion-icon>
      <h3><b>3 de gener</b></h3>
      <h4>Completat</h4>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="danger" item-left></ion-icon>
      <h3><b>4 de gener</b></h3>
      <h4>Formulari no completat</h4>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="medium" item-left></ion-icon>
      <h3><b>Avui</b></h3>
      <h4>Pendent de realitzar</h4>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="light" item-left></ion-icon>
      <h3><b>6 de gener</b></h3>
      <h4>Formulari no disponible</h4>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="light" item-left></ion-icon>
      <h3><b>7 de gener</b></h3>
      <h4>Formulari no disponible</h4>
    </ion-item>
</ion-list>

</ion-content>