<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="person" class="ion-item-left"></ion-icon> /Salut</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
 <h2><b>Benvingut al teu seguiment post-operatori de "Procés Assistencial Concret"</b></h2>
 <p>És important emplenar els següents formularis per a fer un seguiment de l'operació del dia 1/01/2021</p>
<ion-list>
    <ion-item>
      <ion-icon name="calendar" color="success" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>2 de gener</b><br>Completat</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="success" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>3 de gener</b><br>Completat</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="danger" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>4 de gener</b><br>Formulari no completat</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="primary" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Avui</b><br>Pendent de realitzar</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="dark" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>6 de gener</b><br>Formulari no disponible</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="drak" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>7 de gener</b><br>Formulari no disponible</p>
    </ion-item>
</ion-list>

</ion-content>