ion-content{
    h2{
        font-size: 23px;
    }
    ion-list-header{
        font-size: 18px;
    }
}
ion-header{
    background-color:cornflowerblue;
    ion-title{
        font-size: 30px;
        text-align: center;
        color: whitesmoke;
    }
    padding-top: 20px;
    padding-bottom: 20px;
}
