<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="person" class="ion-item-left"></ion-icon> /Salut</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h2><b>Benvingut al seguiment de les teves patologies</b></h2>
  <ion-list>
    <ion-list-header><b>Avui</b></ion-list-header>
    <ion-item>
      <ion-icon name="calendar" color="medium" size="large" class="ion-item-left" class="ion-padding"> </ion-icon>
            <h6>Pendent de realitzar</h6>
    </ion-item>
    <ion-item>
      <p>8:00 am  </p> 
      <p>  Depakine 500MG 20 comprimits gastroresistents VYTORIN 10/20MG 28 comprimits</p>
    </ion-item>
    <ion-item>
      <p>9:00 am  </p> 
      <p>  Seguiment Cirurgia Major Ambulatòria Varius</p>
    </ion-item>
  </ion-list>
  <h5><b>Seguiments Actius</b></h5>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <!--ion-button size="large" color="primary" (click)="seguimentA()">CMAVarius</ion-button-->
            <ion-button color="success" [routerLink]="['actius']">CMAVarius</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary">Diabetis</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary">Medicació</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

  <h5><b>Seguiments Finalitzats</b></h5>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button size="large" color="light">TBipolar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>