<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title><ion-icon name="person" item-left></ion-icon> /Salut</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Benvingut al seguiment del Trastorn Bipolar (Tancat)​</h2>
  <h6>Període de seguiment 01/09/2020 a 31/11/2020</h6>
  <ion-list>
    <ion-item>
      <h3><b>Hores de son</b></h3>
      <ion-icon name="analytics" item-left></ion-icon>
      <h4>85%</h4>
    </ion-item>
    <ion-item>
      <h3><b>El meu estat d'ànim</b></h3>
      <ion-icon name="analytics" item-left></ion-icon>
      <h4>60%</h4>
    </ion-item>
    <ion-item>
      <h3><b>La meva energia</b></h3>
      <ion-icon name="analytics" item-left></ion-icon>
      <h4>20%</h4>
    </ion-item>
  </ion-list>

</ion-content>