<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title><ion-icon name="person" class="ion-item-left"></ion-icon> /Salut</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
  <h2><b>Benvingut al seguiment del Trastorn Bipolar (Tancat)</b>​</h2>
  <p>Període de seguiment 01/09/2020 a 31/11/2020</p>
  <ion-list>
    <ion-item>  
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Hores de son</b><br>85%</p>
    </ion-item>
    <ion-item>
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>El meu estat d'ànim</b><br>60%</p>
    </ion-item>
    <ion-item>
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>La meva energia</b><br>20%</p>
    </ion-item>
  </ion-list>

</ion-content>