<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title><ion-icon name="person" class="ion-item-left"></ion-icon> /Salut</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
  <h2><b>Benvingut al teu espai de consulta</b>​</h2>
  <p>Aquí pots trobar tots els teus seguiments realitzats per a cada patologia que tens</p>
  <ion-list>
    <ion-list-header><b>Trastorn Bipolar</b></ion-list-header>
    <ion-item>
            <h6>Resum setmana de seguiment del 03/01/2021 al 10/01/2021</h6>
    </ion-item>
    <ion-item>  
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Hores de son</b><br>85%</p>
    </ion-item>
    <ion-item>
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>El meu estat d'ànim</b><br>60%</p>
    </ion-item>
    <ion-item>
      <ion-icon name="analytics" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>La meva energia</b><br>20%</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header><b>CMA Varius</b></ion-list-header>
    <ion-item>
      <h6>7 dies de seguiment del 01/01/2021 al 08/01/2021</h6>
</ion-item>
    <ion-item>  
      <ion-icon name="information" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Nàusees i vòmits </b>|| No || No || No || X || X || X || X ||</p>
    </ion-item>
    <ion-item>
      <ion-icon name="information" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Cefalea </b>|| Si || No || No || X || X || X || X ||</p>
    </ion-item>
    <ion-item>
      <ion-icon name="information" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Escala de qualificació de la intensitat del dolor </b>|| 2 || 7 || 3 || X || X || X || X ||</p>
    </ion-item>
    <ion-item>
      <ion-icon name="information" class="ion-item-left" class="ion-padding"></ion-icon>
      <p><b>Etc . . . </b></p>
    </ion-item>
  </ion-list>

</ion-content>