<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inici">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inici</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actius">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Seguiments Actius</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finalitzats">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Finalitzats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<!--ion-tabs>
  <ion-tab tab="inici" tabTitle="Inici" tabIcon="home"></ion-tab>
  <ion-tab tab="actius" tabTitle="Seguiments Actius" tabIcon="albums"></ion-tab>
  <ion-tab tab="fialitzats" tabTitle="Finalitzats" tabIcon="eye"></ion-tab>
</ion-tabs-->
