
ion-tab-bar{
    ion-tab-button{
        background-color:cornflowerblue;
    }
    background-color:cornflowerblue;
    ion-label{
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }
    ion-icon{
        color: whitesmoke;
    }
}